<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<h:head />
	
	<h:body>
		
		<h:form rendered="#{usuarioLogado != null}">
			<h:commandLink value="Logout" action="#{loginBean.deslogar}" />
		</h:form>
	
		<div id="cobecalho">
			<h:graphicImage library="imagem" name="logo.png" />
			<h1><ui:insert name="titulo"></ui:insert> </h1>
		</div>
		
		<div id="conteudo">	
			<ui:insert name="conteudo"></ui:insert>
		</div>
	</h:body>
</html>